In [1]:
import requests
import json
import pandas as pd
from sqlalchemy import create_engine
import pprint
pp = pprint.PrettyPrinter(indent=4)
import psycopg2 as pg
import pandas.io.sql as pd_sql

# General SQL Queries Notebook
This notebook is used for EDA regarding

In [2]:
# Twitch Client ID 
clientID = 'vb2kmh60pt0tee6o2c11ko6n2t1w9a'

In [75]:
# Postgres info to connect

connection_args = {
 "host": "twitchdata.chd4n5ul8muk.us-east-2.rds.amazonaws.com",
 "user": "postgres",
   "password":"FwwBFmleh65qYxKxDVb9",
 "port": 5432,
 "dbname": "twitchdata"
}

# We will talk about this magic Python trick!
connection = pg.connect(**connection_args)

In [111]:
query = '''SELECT * FROM stream_data ORDER BY started_at DESC LIMIT 5;
 '''
pd_sql.read_sql(query, connection)

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged
0,34395513248,63436113,bonebrah86,498859,live,MORDOR,0,2019-06-04 00:02:59,en,2019-06-04 00:03:53
1,34395510384,58696341,Pancake_Nemesis,498859,live,#1 Panic Parry. I'll talk to you.,0,2019-06-04 00:02:44,en,2019-06-04 00:03:53
2,34395508416,248960572,bonkbundle,499003,live,yeet,0,2019-06-04 00:02:34,en,2019-06-04 00:03:53
3,34395506464,419497239,thechesscoach,743,live,TheChessCoach,3,2019-06-04 00:02:25,en,2019-06-04 00:03:53
4,34395502400,46992578,EvilLucario,2083,live,4000% Telos no food attempts,0,2019-06-04 00:02:05,en,2019-06-04 00:03:53

In [76]:
query = '''SELECT * FROM stream_data WHERE stream_id='34350295120' LIMIT 5;
 '''
pd_sql.read_sql(query, connection)

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged
0,34350295120,19571641,Ninja,33214,live,FORTNITE FRIDAY HAS RETURNED! | !friday,143404,2019-05-31 17:31:27,en,2019-06-01 02:45:30

In [74]:
df['stream_id'][0]

'34350295120'

In [84]:
query = '''SELECT stream_data.*, game_information.game_name, game_genres.game_genres
FROM stream_data 
LEFT JOIN game_information ON stream_data.game_id = game_information.game_id
LEFT JOIN game_genres ON game_information.game_name = game_genres.game_name LIMIT 5;'''
pd_sql.read_sql(query, connection)

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged,game_name,game_genres
0,34350295120,19571641,Ninja,33214,live,FORTNITE FRIDAY HAS RETURNED! | !friday,143404,2019-05-31 17:31:27,en,2019-06-01 02:45:30,Fortnite,Shooter
1,34350295120,19571641,Ninja,33214,live,FORTNITE FRIDAY HAS RETURNED! | !friday,143404,2019-05-31 17:31:27,en,2019-06-01 02:45:30,Fortnite,Shooter
2,34355085472,60056333,Tfue,33214,live,First Stream on 0 Ping!!!,33163,2019-05-31 23:54:36,en,2019-06-01 02:45:30,Fortnite,Shooter
3,34355085472,60056333,Tfue,33214,live,First Stream on 0 Ping!!!,33163,2019-05-31 23:54:36,en,2019-06-01 02:45:30,Fortnite,Shooter
4,34352050896,112837021,UMGEvents,33214,live,Friday Fortnite 2019: Week 1 presented by KEEM...,28648,2019-05-31 19:45:10,en,2019-06-01 02:45:30,Fortnite,Shooter

In [98]:
query = '''SELECT * FROM stream_data WHERE user_id='54739364' '''
pd_sql.read_sql(query, connection)

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged
0,34366504928,54739364,ESAMarathon,6733,live,#UKSGSummer19 in aid of YoungMinds - Parasite ...,1316,2019-06-01 19:48:52,en,2019-06-02 00:03:08
1,34366504928,54739364,ESAMarathon,313175,live,#UKSGSummer19 in aid of YoungMinds - F1 2013 b...,1194,2019-06-01 19:48:52,en,2019-06-02 01:04:34
2,34366504928,54739364,ESAMarathon,4796,live,#UKSGSummer19 in aid of YoungMinds - Prince of...,1235,2019-06-01 19:48:52,en,2019-06-02 02:04:53
3,34366504928,54739364,ESAMarathon,4796,live,#UKSGSummer19 in aid of YoungMinds - Prince of...,1368,2019-06-01 19:48:52,en,2019-06-02 03:04:26
4,34366504928,54739364,ESAMarathon,17500,live,#UKSGSummer19 in aid of YoungMinds - Monster R...,1534,2019-06-01 19:48:52,en,2019-06-02 04:03:56
5,34366504928,54739364,ESAMarathon,17500,live,#UKSGSummer19 in aid of YoungMinds - Monster R...,1665,2019-06-01 19:48:52,en,2019-06-02 05:03:21
6,34366504928,54739364,ESAMarathon,66082,live,#UKSGSummer19 in aid of YoungMinds - Kingdom H...,1553,2019-06-01 19:48:52,en,2019-06-02 06:03:11
7,34366504928,54739364,ESAMarathon,5126,live,#UKSGSummer19 in aid of YoungMinds - Resident ...,2712,2019-06-01 19:48:52,en,2019-06-02 12:02:52
8,34366504928,54739364,ESAMarathon,19948,live,#UKSGSummer19 in aid of YoungMinds - Digimon W...,1569,2019-06-01 19:48:52,en,2019-06-02 07:03:04
9,34366504928,54739364,ESAMarathon,19948,live,#UKSGSummer19 in aid of YoungMinds - Digimon W...,1752,2019-06-01 19:48:52,en,2019-06-02 08:03:13
10,34366504928,54739364,ESAMarathon,460068,live,#UKSGSummer19 in aid of YoungMinds - Pit Peopl...,2272,2019-06-01 19:48:52,en,2019-06-02 09:03:20
11,34366504928,54739364,ESAMarathon,1524,live,#UKSGSummer19 in aid of YoungMinds - Sonic The...,2607,2019-06-01 19:48:52,en,2019-06-02 10:02:48
12,34366504928,54739364,ESAMarathon,493877,live,#UKSGSummer19 in aid of YoungMinds - Sonic Man...,2695,2019-06-01 19:48:52,en,2019-06-02 11:02:49
13,34366504928,54739364,ESAMarathon,1847,live,#UKSGSummer19 in aid of YoungMinds - Metal Slu...,2711,2019-06-01 19:48:52,en,2019-06-02 13:04:22
14,34366504928,54739364,ESAMarathon,504231,live,#UKSGSummer19 in aid of YoungMinds - OCTAHEDRO...,2450,2019-06-01 19:48:52,en,2019-06-02 14:03:28
15,34366504928,54739364,ESAMarathon,14805,live,#UKSGSummer19 in aid of YoungMinds - Metal Gea...,2812,2019-06-01 19:48:52,en,2019-06-02 16:02:59
16,34366504928,54739364,ESAMarathon,30745,live,#UKSGSummer19 in aid of YoungMinds - Hector: B...,2267,2019-06-01 19:48:52,en,2019-06-02 17:02:54
17,34366504928,54739364,ESAMarathon,460143,live,#UKSGSummer19 in aid of YoungMinds - Rick + Mo...,2270,2019-06-01 19:48:52,en,2019-06-02 18:02:54
18,34366504928,54739364,ESAMarathon,67925,live,#UKSGSummer19 in aid of YoungMinds - Street Bo...,2004,2019-06-01 19:48:52,en,2019-06-02 19:02:50
19,34366504928,54739364,ESAMarathon,506415,live,#UKSGSummer19 in aid of YoungMinds - Sekiro: S...,1984,2019-06-01 19:48:52,en,2019-06-02 20:02:51

# Use MAX( viewers ) in general_view table to filter out duplicate rows (from genre)

In [107]:

query = '''SELECT user_id, user_name, count(distinct(game_id)) as num_games, MAX(viewer_count) as max_viewers
FROM stream_data 
GROUP BY user_id, user_name
HAVING count(distinct(game_id))>1
ORDER BY num_games DESC, max_viewers DESC;'''
pd_sql.read_sql(query, connection)

         user_id         user_name  num_games  max_viewers
0       24147592            Gotaga          4        74818
1        9846758        VGBootCamp          3        67032
2      103861159                얍얍          2        30528
3       37402112            shroud          7        30483
4      139470326               한동숙          2        30438
5       71092938             xQcOW          8        29234
6      112837021         UMGEvents          2        28648
7       62356185                룩삼          3        26789
8       79946736         teaminven          3        26203
9       38244180          alanzoka          3        22116
10      36769016      TimTheTatman          3        21648
11      23161357             LIRIK         11        21421
12      41719107           ZeratoR          2        20428
13     106125347         CouRageJD          2        19225
14      31688366          Symfuhny          2        19154
15     156037856        fextralife          3        18467
16     121059319       MOONMOON_OW          4        18289
17      22484632            forsen          6        17906
18     107418731            Xayoo_          2        17018
19      60978448            dogdog          2        15558
20      29829912            DrLupo          2        15508
21      26610234       CohhCarnage          5        15336
22      46571894      ALOHADANCETV          2        15312
23      15310631         Greekgodx          4        14745
24      57025612             Thijs          2        14716
25      30816637    AdmiralBulldog          4        14273
26     103825127               풍월량          4        14091
27     131056112             JtgTv          2        13805
28     147337432          LeStream          5        13057
29      39276140            Rubius          3        12190
...          ...               ...        ...          ...
10013  436553847       MuNneZza360          2            0
10014  116251800        bigfrank50          2            0
10015  124029821      todeselfe008          2            0
10016  100107868      gamebrocorey          2            0
10017  125920491        the_willbo          2            0
10018  166220618          Joey_Kay          2            0
10019   36366687     FettuccineWap          2            0
10020   58576389        Kernelillo          2            0
10021   39492945        greyfox192          2            0
10022   42952773       DiscoRivera          2            0
10023  433497376        relay42069          2            0
10024  115369326          3g_tapki          2            0
10025   58647781         EnigmaHex          2            0
10026  431031540        fallenjorn          2            0
10027  194603354   KawaiiAnimeTrap          2            0
10028  239919353    AgamemnonGames          2            0
10029  435523210  flashthegodofspe          2            0
10030   44723936           Bcbudsz          2            0
10031   87781705        Alpentalic          2            0
10032  128806528           janordy          2            0
10033   24842902              あむきち          2            0
10034   78991122     DrunkGameRuns          2            0
10035  430129943     switchTrippin          2            0
10036   94691990               テキン          2            0
10037   56183278          Tibullus          2            0
10038   53890786             200HZ          2            0
10039   92542475          Leasenok          2            0
10040   87637322       gamerslast1          2            0
10041   77452434       Denruss3636          2            0
10042  174240985     DRAGondaTrack          2            0

[10043 rows x 4 columns]

In [44]:
query = '''
SELECT * from stream_data
WHERE stream_id='34401487648'
ORDER BY time_logged DESC
LIMIT 5;
'''
pd_sql.read_sql(query, connection)

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged
0,34401487648,36292280,TheMax_,13389,live,Nomad TG w/ Zuppi in TS,84,2019-06-04 14:21:49,en,2019-06-04 18:03:26
1,34401487648,36292280,TheMax_,13389,live,More random TGs,85,2019-06-04 14:21:49,en,2019-06-04 17:03:06
2,34401487648,36292280,TheMax_,13389,live,More random TGs,108,2019-06-04 14:21:49,en,2019-06-04 16:03:51

In [45]:
query = '''
SELECT * from general_view
WHERE stream_id='34401487648'
ORDER BY time_logged DESC
LIMIT 5;
'''
pd_sql.read_sql(query, connection)

,stream_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged,game_name,pic_url,game_genres
0,34401487648,TheMax_,13389,live,Nomad TG w/ Zuppi in TS,84,2019-06-04 14:21:49,en,2019-06-04 18:03:26,Age of Empires II,https://static-cdn.jtvnw.net/ttv-boxart/Age%20...,RTS
1,34401487648,TheMax_,13389,live,Nomad TG w/ Zuppi in TS,84,2019-06-04 14:21:49,en,2019-06-04 18:03:26,Age of Empires II,https://static-cdn.jtvnw.net/ttv-boxart/Age%20...,Strategy
2,34401487648,TheMax_,13389,live,More random TGs,85,2019-06-04 14:21:49,en,2019-06-04 17:03:06,Age of Empires II,https://static-cdn.jtvnw.net/ttv-boxart/Age%20...,RTS
3,34401487648,TheMax_,13389,live,More random TGs,85,2019-06-04 14:21:49,en,2019-06-04 17:03:06,Age of Empires II,https://static-cdn.jtvnw.net/ttv-boxart/Age%20...,Strategy
4,34401487648,TheMax_,13389,live,More random TGs,108,2019-06-04 14:21:49,en,2019-06-04 16:03:51,Age of Empires II,https://static-cdn.jtvnw.net/ttv-boxart/Age%20...,RTS

In [46]:
query = '''
SELECT time_logged, game_name, stream_id, max(viewer_count)
    FROM general_view
    GROUP BY time_logged, game_name, stream_id
    ORDER BY time_logged DESC , game_name
    LIMIT 100
    
'''
pd_sql.read_sql(query, connection)

           time_logged          game_name    stream_id   max
0  2019-06-04 18:03:26  Age of Empires II  34401487648    84
1  2019-06-04 18:03:26  Age of Empires II  34401608912     2
2  2019-06-04 18:03:26  Age of Empires II  34401758288     1
3  2019-06-04 18:03:26  Age of Empires II  34401794640  1376
4  2019-06-04 18:03:26  Age of Empires II  34401930976   121
5  2019-06-04 18:03:26  Age of Empires II  34402014992    21
6  2019-06-04 18:03:26  Age of Empires II  34402426320    23
7  2019-06-04 18:03:26  Age of Empires II  34402460112   181
8  2019-06-04 18:03:26  Age of Empires II  34402600224    14
9  2019-06-04 18:03:26  Age of Empires II  34402873920     0
10 2019-06-04 18:03:26  Age of Empires II  34402978416    33
11 2019-06-04 18:03:26  Age of Empires II  34402991504     1
12 2019-06-04 18:03:26  Age of Empires II  34403073344    11
13 2019-06-04 18:03:26  Age of Empires II  34403188816   112
14 2019-06-04 18:03:26  Age of Empires II  34403253792     1
15 2019-06-04 18:03:26  Age of Empires II  34403481296     4
16 2019-06-04 18:03:26  Age of Empires II  34403576704     7
17 2019-06-04 18:03:26  Age of Empires II  34403750320     0
18 2019-06-04 18:03:26       Apex Legends  34395839408  1155
19 2019-06-04 18:03:26       Apex Legends  34398165760    20
20 2019-06-04 18:03:26       Apex Legends  34398385472   306
21 2019-06-04 18:03:26       Apex Legends  34399546064    60
22 2019-06-04 18:03:26       Apex Legends  34399630144    27
23 2019-06-04 18:03:26       Apex Legends  34399632288    83
24 2019-06-04 18:03:26       Apex Legends  34399940640    48
25 2019-06-04 18:03:26       Apex Legends  34400088736    27
26 2019-06-04 18:03:26       Apex Legends  34400114752    57
27 2019-06-04 18:03:26       Apex Legends  34400324656    24
28 2019-06-04 18:03:26       Apex Legends  34400438480   140
29 2019-06-04 18:03:26       Apex Legends  34400443776    57
..                 ...                ...          ...   ...
70 2019-06-04 18:03:26       Apex Legends  34402405312    82
71 2019-06-04 18:03:26       Apex Legends  34402406848    32
72 2019-06-04 18:03:26       Apex Legends  34402445840  3350
73 2019-06-04 18:03:26       Apex Legends  34402469040    26
74 2019-06-04 18:03:26       Apex Legends  34402503472    77
75 2019-06-04 18:03:26       Apex Legends  34402528960    29
76 2019-06-04 18:03:26       Apex Legends  34402531680    93
77 2019-06-04 18:03:26       Apex Legends  34402547984    24
78 2019-06-04 18:03:26       Apex Legends  34402595840    34
79 2019-06-04 18:03:26       Apex Legends  34402635808    34
80 2019-06-04 18:03:26       Apex Legends  34402647008    57
81 2019-06-04 18:03:26       Apex Legends  34402647072   133
82 2019-06-04 18:03:26       Apex Legends  34402660912    25
83 2019-06-04 18:03:26       Apex Legends  34402732320    62
84 2019-06-04 18:03:26       Apex Legends  34402766656    30
85 2019-06-04 18:03:26       Apex Legends  34402801184    25
86 2019-06-04 18:03:26       Apex Legends  34402811696   579
87 2019-06-04 18:03:26       Apex Legends  34402857792    21
88 2019-06-04 18:03:26       Apex Legends  34402858576   169
89 2019-06-04 18:03:26       Apex Legends  34402869936    23
90 2019-06-04 18:03:26       Apex Legends  34402873264    63
91 2019-06-04 18:03:26       Apex Legends  34402892528    60
92 2019-06-04 18:03:26       Apex Legends  34402904544    26
93 2019-06-04 18:03:26       Apex Legends  34402906704    26
94 2019-06-04 18:03:26       Apex Legends  34402927120    57
95 2019-06-04 18:03:26       Apex Legends  34402930608   225
96 2019-06-04 18:03:26       Apex Legends  34402950480    82
97 2019-06-04 18:03:26       Apex Legends  34402991616    22
98 2019-06-04 18:03:26       Apex Legends  34403003104   254
99 2019-06-04 18:03:26       Apex Legends  34403025232    25

[100 rows x 4 columns]

# Find number of viewers in top 100 streamers per hour by game

In [49]:
# Find number of viewers in top 100 streamers per hour by game
query = '''
SELECT time_logged, game_name, sum(max)
FROM (SELECT time_logged, stream_id, game_name, (MAX(viewer_count)) 
    FROM general_view
    GROUP BY time_logged, game_name, stream_id
    ORDER BY time_logged DESC , game_name
    ) as bob
GROUP BY time_logged, game_name
ORDER BY game_name, time_logged DESC, sum DESC
'''
df=pd_sql.read_sql(query, connection)

In [51]:
df.columns

Index(['time_logged', 'game_name', 'sum'], dtype='object')

In [56]:
df.head()

          time_logged                game_name    sum
0 2019-06-02 15:02:53            7 Days to Die   1496
1 2019-06-02 14:03:28            7 Days to Die   1455
2 2019-06-02 13:04:22            7 Days to Die   1132
3 2019-06-04 14:03:20  9Dragons: Kung Fu Arena  12343
4 2019-06-03 03:03:52                  Agar.io   1234

In [64]:
df.sort_values(by=['game_name', 'time_logged'],ascending = False).head()

             time_logged                    game_name   sum
6214 2019-06-04 09:03:50  theHunter: Call of the Wild   700
6215 2019-06-01 18:02:54  theHunter: Call of the Wild  1843
6216 2019-06-01 17:36:07  theHunter: Call of the Wild  1812
4112 2019-06-04 17:03:06                         osu!  1281
4113 2019-06-04 16:03:51                         osu!  1531

# Trying to find difference in viewership over time for each game between different time slots 
(Note, rows are not always sequential by hour! There can be differences of days if the game does not hit top 100 regularly)

In [66]:
df.sort_values(by=['game_name', 'time_logged'],ascending = False)['sum'].diff(1).head()

6214       NaN
6215    1143.0
6216     -31.0
4112    -531.0
4113     250.0
Name: sum, dtype: float64

In [67]:
df.groupby(['game_name'])['sum'].diff(1).head()

0      NaN
1    -41.0
2   -323.0
3      NaN
4      NaN
Name: sum, dtype: float64

# Find max viewers a streamer has ever had on a stream and in what game (in our data set)

In [91]:
query = '''
SELECT user_name, game_name, max(viewer_count)
FROM general_view
GROUP BY user_name, game_name
ORDER BY user_name DESC, max DESC
LIMIT 10000
'''
df=pd_sql.read_sql(query, connection)

In [99]:
df

              user_name                        game_name   max
0                    龜狗                League of Legends  1058
1                    龜狗               Grand Theft Auto V   849
2                    龜狗                    Just Chatting   467
3                   龜仔_    PLAYERUNKNOWN'S BATTLEGROUNDS    23
4                  龍龍來囉                       The Sims 4     9
5                    龍華                   Dark Souls III     1
6                    龍玥                             osu!     2
7                   龍爪手                League of Legends   282
8                    龍月                        Minecraft    18
9                    龍拳                World of Warships     6
10                   龍凌              Black Desert Online    19
11                龍人可撥仔                      Hearthstone    61
12                 齊力斷金                      Hearthstone  1259
13                點點點點點               Grand Theft Auto V   138
14                  黛玉林                             osu!     5
15                 默楓小生        Total War: Three Kingdoms     5
16                 黒田瑞貴                     Apex Legends   526
17                  黑貓包             Monster Hunter World     1
18                 黑色柳丁      Tom Clancy's The Division 2     1
19                 黑羽武司                    Hollow Knight     5
20                 黑羽武司       Super Smash Bros. Ultimate     1
21                 黑羽光佑                   Sea of Thieves    10
22                黑筆516                      Hearthstone     2
23               黑王子愛德華                         Warframe     0
24                  黑大大                       Auto Chess    58
25                   黑嘎                         Warframe     7
26                   黑嘎                      Deathgarden     4
27                   黑儀                Otaku's Adventure   135
28                   黑儀                    Games + Demos    72
29                  黑仔熊        Sekiro: Shadows Die Twice     1
...                 ...                              ...   ...
9970        walskishere                       The Sims 4    12
9971        Walshy1992x                             DayZ     1
9972  walshmeister_8803                           Arma 3     4
9973             walshe                   Battalion 1944     1
9974             walshe                   XERA: Survival     0
9975        Walruswhale         The Witcher 3: Wild Hunt     1
9976           walruspi          Music & Performing Arts     4
9977         Walrus1407                    Void Bastards     2
9978            WalRo08         Summoners War: Sky Arena    39
9979          walranium                            Retro    15
9980          walranium                    Rocket League     7
9981        walpurgis21                       Auto Chess    10
9982            WalouTV                  Getting Over It     3
9983     WalnuttyReview                             osu!     3
9984         Wally_Warp             Monster Hunter World     3
9985     WallyPinkerton                        Destiny 2    39
9986         wally_IIO2            Talk Shows & Podcasts     1
9987   wallygeebruhdahh                     Realm Royale     2
9988           wallview                   Minion Masters     1
9989          wallswall                          Mordhau     2
9990            wallsjr                     Realm Royale     1
9991           wallsdad                             osu!     7
9992      wall_rodrigos                     Realm Royale     1
9993          WallofKai              Black Desert Online    47
9994     walloficecream             Magic: The Gathering     4
9995     Wall_of_Hedera                    Dark Souls II     3
9996             wallnn  Tom Clancy's Rainbow Six: Siege    27
9997          Wallmaart          Music & Performing Arts     8
9998          Wallmaart                   Dark Souls III     5
9999           WallLPTV      The Elder Scrolls V: Skyrim     1

[10000 rows x 3 columns]

In [5]:
connection.close()

NameError: name 'connection' is not defined